In [1]:
import numpy as np
import pandas as pd

import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go

import tensorflow as tf
import pickle

import os

2023-11-30 14:25:51.221291: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-30 14:25:51.727164: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64:
2023-11-30 14:25:51.727210: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.4/lib64:
2023-11-30 14:25:51.727215: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [2]:
path = "/home/jun/workspace/KT/data/2009/skill_builder_data_corrected.csv"

data = pd.read_csv(path, encoding = "ISO-8859-15",low_memory=False)

In [3]:
pd.set_option('display.max_columns', 500)
data.head()

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,answer_type,sequence_id,student_class_id,position,type,base_sequence_id,skill_id,skill_name,teacher_id,school_id,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,algebra,5948,13241,126,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,32454,30799,NaN,26,0,NaN,1,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,algebra,5948,13241,126,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,4922,30799,NaN,55,0,NaN,2,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,algebra,5948,11816,22,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,42000,30799,NaN,88,0,NaN,1,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,algebra,5948,11816,22,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,4859,30059,NaN,41,0,NaN,2,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,algebra,5948,11816,22,MasterySection,5948,1.0,Box and Whisker,22763,73,3,4,124564,30060,NaN,65,0,0.0,3,3.0

In [4]:
data

,order_id,assignment_id,user_id,assistment_id,problem_id,original,correct,attempt_count,ms_first_response,tutor_mode,answer_type,sequence_id,student_class_id,position,type,base_sequence_id,skill_id,skill_name,teacher_id,school_id,hint_count,hint_total,overlap_time,template_id,answer_id,answer_text,first_action,bottom_hint,opportunity,opportunity_original
0,33022537,277618,64525,33139,51424,1,1,1,32454,tutor,algebra,5948,13241,126,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,32454,30799,NaN,26,0,NaN,1,1.0
1,33022709,277618,64525,33150,51435,1,1,1,4922,tutor,algebra,5948,13241,126,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,4922,30799,NaN,55,0,NaN,2,2.0
2,35450204,220674,70363,33159,51444,1,0,2,25390,tutor,algebra,5948,11816,22,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,42000,30799,NaN,88,0,NaN,1,1.0
3,35450295,220674,70363,33110,51395,1,1,1,4859,tutor,algebra,5948,11816,22,MasterySection,5948,1.0,Box and Whisker,22763,73,0,3,4859,30059,NaN,41,0,NaN,2,2.0
4,35450311,220674,70363,33196,51481,1,0,14,19813,tutor,algebra,5948,11816,22,MasterySection,5948,1.0,Box and Whisker,22763,73,3,4,124564,30060,NaN,65,0,0.0,3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401751,38214014,291495,96299,57830,108976,0,1,1,38234,tutor,choose_1,6009,14415,39,MasterySection,6009,NaN,NaN,69274,2770,0,2,38234,55692,200260.0,NaN,0,NaN,54,NaN
401752,38214016,291495,96299,57843,109015,0,1,1,6500,tutor,choose_1,6009,14415,39,MasterySection,6009,NaN,NaN,69274,2770,0,0,6500,55693,200299.0,NaN,0,NaN,55,NaN
401753,38214195,291503,96299,34577,54060,0,1,1,18344,tutor,algebra,5962,14415,16,MasterySection,5962,NaN,NaN,69274,2770,0,3,18344,30677,NaN,0.8,0,NaN,56,NaN
401754,38214196,291503,96299,34577,54061,0,1,1,12922,tutor,algebra,5962,14415,16,MasterySection,5962,NaN,NaN,69274,2770,0,2,12922,30677,NaN,-6,0,NaN,57,NaN
401755,38214198,291503,96299,34577,54062,0,0,9,36047,tutor,algebra,5962,14415,16,MasterySection,5962,NaN,NaN,69274,2770,1,3,163422,30677,NaN,-6.8,0,0.0,58,NaN

In [5]:
pre_data =data.dropna(subset=["skill_name"])\
            .drop_duplicates(subset=["order_id", "skill_name"])\
            .sort_values(by=["order_id"])

In [6]:
u_list=np.unique(pre_data["user_id"].values)
u_list

array([   14, 21825, 51950, ..., 96297, 96298, 96299])

In [7]:
len(u_list)

4151

In [8]:
q_list = np.unique(pre_data["skill_name"].values)
q_list

array(['Absolute Value', 'Addition Whole Numbers',
       'Addition and Subtraction Fractions',
       'Addition and Subtraction Integers',
       'Addition and Subtraction Positive Decimals',
       'Algebraic Simplification', 'Algebraic Solving',
       'Angles - Obtuse, Acute, and Right',
       'Angles on Parallel Lines Cut by a Transversal', 'Area Circle',
       'Area Irregular Figure', 'Area Parallelogram', 'Area Rectangle',
       'Area Trapezoid', 'Area Triangle', 'Box and Whisker',
       'Calculations with Similar Figures',
       'Choose an Equation from Given Information', 'Circle Graph',
       'Circumference ', 'Complementary and Supplementary Angles',
       'Computation with Real Numbers', 'Congruence',
       'Conversion of Fraction Decimals Percents', 'Counting Methods',
       'D.4.8-understanding-concept-of-probabilities',
       'Distributive Property', 'Divisibility Rules',
       'Division Fractions',
       'Effect of Changing Dimensions of a Shape Prportionally',
       'Equation Solving More Than Two Steps',
       'Equation Solving Two or Fewer Steps', 'Equivalent Fractions',
       'Estimation', 'Exponents', 'Finding Percents',
       'Finding Slope From Equation', 'Finding Slope From Situation',
       'Finding Slope from Ordered Pairs', 'Fraction Of',
       'Greatest Common Factor', 'Histogram as Table or Graph',
       'Intercept', 'Interior Angles Figures with More than 3 Sides',
       'Interior Angles Triangle', 'Interpreting Coordinate Graphs ',
       'Least Common Multiple', 'Linear Equations', 'Mean', 'Median',
       'Midpoint', 'Mode', 'Multiplication Fractions',
       'Multiplication Whole Numbers',
       'Multiplication and Division Integers',
       'Multiplication and Division Positive Decimals',
       'Nets of 3D Figures', 'Number Line',
       'Order of Operations +,-,/,* () positive reals',
       'Order of Operations All', 'Ordering Fractions',
       'Ordering Integers', 'Ordering Positive Decimals',
       'Ordering Real Numbers',
       'Parts of a Polyomial, Terms, Coefficient, Monomial, Exponent, Variable',
       'Pattern Finding ', 'Percent Discount', 'Percent Of', 'Percents',
       'Perimeter of a Polygon', 'Polynomial Factors', 'Prime Number',
       'Probability of Two Distinct Events',
       'Probability of a Single Event', 'Proportion',
       'Pythagorean Theorem',
       'Quadratic Formula to Solve Quadratic Equation', 'Range', 'Rate',
       'Reading a Ruler or Scale', 'Recognize Linear Pattern',
       'Recognize Quadratic Pattern', 'Reflection', 'Rotations',
       'Rounding', 'Scale Factor', 'Scatter Plot', 'Scientific Notation',
       'Simplifying Expressions positive exponents', 'Slope',
       'Solving Inequalities', 'Solving Systems of Linear Equations',
       'Solving Systems of Linear Equations by Graphing',
       'Solving for a variable', 'Square Root', 'Stem and Leaf Plot',
       'Subtraction Whole Numbers', 'Surface Area Cylinder',
       'Surface Area Rectangular Prism', 'Table', 'Translations',
       'Unit Conversion Within a System', 'Unit Rate', 'Venn Diagram',
       'Volume Cylinder', 'Volume Rectangular Prism', 'Volume Sphere',
       'Write Linear Equation from Graph',
       'Write Linear Equation from Ordered Pairs',
       'Write Linear Equation from Situation'], dtype=object)

In [9]:
u2idx = {u: idx for idx, u in enumerate(u_list)}
q2idx = {q: idx for idx, q in enumerate(q_list)}

In [10]:
q2idx

{'Absolute Value': 0,
 'Addition Whole Numbers': 1,
 'Addition and Subtraction Fractions': 2,
 'Addition and Subtraction Integers': 3,
 'Addition and Subtraction Positive Decimals': 4,
 'Algebraic Simplification': 5,
 'Algebraic Solving': 6,
 'Angles - Obtuse, Acute, and Right': 7,
 'Angles on Parallel Lines Cut by a Transversal': 8,
 'Area Circle': 9,
 'Area Irregular Figure': 10,
 'Area Parallelogram': 11,
 'Area Rectangle': 12,
 'Area Trapezoid': 13,
 'Area Triangle': 14,
 'Box and Whisker': 15,
 'Calculations with Similar Figures': 16,
 'Choose an Equation from Given Information': 17,
 'Circle Graph': 18,
 'Circumference ': 19,
 'Complementary and Supplementary Angles': 20,
 'Computation with Real Numbers': 21,
 'Congruence': 22,
 'Conversion of Fraction Decimals Percents': 23,
 'Counting Methods': 24,
 'D.4.8-understanding-concept-of-probabilities': 25,
 'Distributive Property': 26,
 'Divisibility Rules': 27,
 'Division Fractions': 28,
 'Effect of Changing Dimensions of a Shape Prportionally': 29,
 'Equation Solving More Than Two Steps': 30,
 'Equation Solving Two or Fewer Steps': 31,
 'Equivalent Fractions': 32,
 'Estimation': 33,
 'Exponents': 34,
 'Finding Percents': 35,
 'Finding Slope From Equation': 36,
 'Finding Slope From Situation': 37,
 'Finding Slope from Ordered Pairs': 38,
 'Fraction Of': 39,
 'Greatest Common Factor': 40,
 'Histogram as Table or Graph': 41,
 'Intercept': 42,
 'Interior Angles Figures with More than 3 Sides': 43,
 'Interior Angles Triangle': 44,
 'Interpreting Coordinate Graphs ': 45,
 'Least Common Multiple': 46,
 'Linear Equations': 47,
 'Mean': 48,
 'Median': 49,
 'Midpoint': 50,
 'Mode': 51,
 'Multiplication Fractions': 52,
 'Multiplication Whole Numbers': 53,
 'Multiplication and Division Integers': 54,
 'Multiplication and Division Positive Decimals': 55,
 'Nets of 3D Figures': 56,
 'Number Line': 57,
 'Order of Operations +,-,/,* () positive reals': 58,
 'Order of Operations All': 59,
 'Ordering Fractions': 60,
 'Ordering Integers': 61,
 'Ordering Positive Decimals': 62,
 'Ordering Real Numbers': 63,
 'Parts of a Polyomial, Terms, Coefficient, Monomial, Exponent, Variable': 64,
 'Pattern Finding ': 65,
 'Percent Discount': 66,
 'Percent Of': 67,
 'Percents': 68,
 'Perimeter of a Polygon': 69,
 'Polynomial Factors': 70,
 'Prime Number': 71,
 'Probability of Two Distinct Events': 72,
 'Probability of a Single Event': 73,
 'Proportion': 74,
 'Pythagorean Theorem': 75,
 'Quadratic Formula to Solve Quadratic Equation': 76,
 'Range': 77,
 'Rate': 78,
 'Reading a Ruler or Scale': 79,
 'Recognize Linear Pattern': 80,
 'Recognize Quadratic Pattern': 81,
 'Reflection': 82,
 'Rotations': 83,
 'Rounding': 84,
 'Scale Factor': 85,
 'Scatter Plot': 86,
 'Scientific Notation': 87,
 'Simplifying Expressions positive exponents': 88,
 'Slope': 89,
 'Solving Inequalities': 90,
 'Solving Systems of Linear Equations': 91,
 'Solving Systems of Linear Equations by Graphing': 92,
 'Solving for a variable': 93,
 'Square Root': 94,
 'Stem and Leaf Plot': 95,
 'Subtraction Whole Numbers': 96,
 'Surface Area Cylinder': 97,
 'Surface Area Rectangular Prism': 98,
 'Table': 99,
 'Translations': 100,
 'Unit Conversion Within a System': 101,
 'Unit Rate': 102,
 'Venn Diagram': 103,
 'Volume Cylinder': 104,
 'Volume Rectangular Prism': 105,
 'Volume Sphere': 106,
 'Write Linear Equation from Graph': 107,
 'Write Linear Equation from Ordered Pairs': 108,
 'Write Linear Equation from Situation': 109}

In [11]:
q_seqs = []
r_seqs = []

for u in u_list:
    df_u = pre_data[pre_data["user_id"] == u]

    q_seq = np.array([q2idx[q] for q in df_u["skill_name"]])
    r_seq = df_u["correct"].values

    q_seqs.append(q_seq)
    r_seqs.append(r_seq)

In [16]:
print(len(q_seqs[4]))
print((r_seqs[4]))

312
[0 0 1 0 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 0 1 1
 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 1
 0 0 1 1 1 1 0 0 1 1 1 0 1 0 1 1 0 1 1 0 0 1 1 1 0 0 0 1 0 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 0 0 0 0 1 1 1 1 1 0 0 1 1 1 0 1 1
 1 0 1 1 1 0 1 1 1 1 1 0 0 1 1 0 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 1 1 1 0 0
 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 0
 0 1 1 0 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 0 1 1 0 0 1 1 1 1 1 1 0 0 1 0 1 1
 1 1 1 0 1 1 0 0 0 0 1 1 1 1 1 1]

# pytorch code
#### 코드의 의미는 데이터셋이서 user id를 기준으로 숫자로 맵핑된  skill name 과 그에 대한 정답 correct 가 ordered_id 의 sort를 통해 발생한 순서대로 나열된 것이라고 이해하자
user_id = 1 -->  


q_seqs=[67 18 67 18 67 18 18 67 67 18 18 67 32 35 18 32 18 74 32 18 32 18 74 32 18 32 35 18 49 77 77 49 77 49 49]



r_seqs=[0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 1 0 1 0 0]


결과적으로 KCs-level의 형태라고 해야하나?

In [13]:
import os

import pickle

import numpy as np
import pandas as pd

from torch.utils.data import Dataset

from models.utils import match_seq_len


DATASET_DIR = "/home/jun/workspace/KT/data/2009/"


class ASSIST2009(Dataset):
    def __init__(self, seq_len, dataset_dir=DATASET_DIR) -> None:
        super().__init__()

        self.dataset_dir = dataset_dir
        self.dataset_path = os.path.join(
            self.dataset_dir, "skill_builder_data_corrected.csv"
        )

        if os.path.exists(os.path.join(self.dataset_dir, "q_seqs.pkl")):
            with open(os.path.join(self.dataset_dir, "q_seqs.pkl"), "rb") as f:
                self.q_seqs = pickle.load(f)
            with open(os.path.join(self.dataset_dir, "r_seqs.pkl"), "rb") as f:
                self.r_seqs = pickle.load(f)
            with open(os.path.join(self.dataset_dir, "q_list.pkl"), "rb") as f:
                self.q_list = pickle.load(f)
            with open(os.path.join(self.dataset_dir, "u_list.pkl"), "rb") as f:
                self.u_list = pickle.load(f)
            with open(os.path.join(self.dataset_dir, "q2idx.pkl"), "rb") as f:
                self.q2idx = pickle.load(f)
            with open(os.path.join(self.dataset_dir, "u2idx.pkl"), "rb") as f:
                self.u2idx = pickle.load(f)
        else:
            self.q_seqs, self.r_seqs, self.q_list, self.u_list, self.q2idx, \
                self.u2idx = self.preprocess()

        self.num_u = self.u_list.shape[0]
        self.num_q = self.q_list.shape[0]

        # if seq_len:
        #     self.q_seqs, self.r_seqs = \
        #         match_seq_len(self.q_seqs, self.r_seqs, seq_len)

        self.len = len(self.q_seqs)

    def __getitem__(self, index):
        return self.q_seqs[index], self.r_seqs[index]

    def __len__(self):
        return self.len

    def preprocess(self):
        df = pd.read_csv(self.dataset_path).dropna(subset=["skill_name"])\
            .drop_duplicates(subset=["order_id", "skill_name"])\
            .sort_values(by=["order_id"])

        u_list = np.unique(df["user_id"].values)
        q_list = np.unique(df["skill_name"].values)

        u2idx = {u: idx for idx, u in enumerate(u_list)}
        q2idx = {q: idx for idx, q in enumerate(q_list)}

        q_seqs = []
        r_seqs = []

        for u in u_list:
            df_u = df[df["user_id"] == u]

            q_seq = np.array([q2idx[q] for q in df_u["skill_name"]])
            r_seq = df_u["correct"].values

            q_seqs.append(q_seq)
            r_seqs.append(r_seq)

        with open(os.path.join(self.dataset_dir, "q_seqs.pkl"), "wb") as f:
            pickle.dump(q_seqs, f)
        with open(os.path.join(self.dataset_dir, "r_seqs.pkl"), "wb") as f:
            pickle.dump(r_seqs, f)
        with open(os.path.join(self.dataset_dir, "q_list.pkl"), "wb") as f:
            pickle.dump(q_list, f)
        with open(os.path.join(self.dataset_dir, "u_list.pkl"), "wb") as f:
            pickle.dump(u_list, f)
        with open(os.path.join(self.dataset_dir, "q2idx.pkl"), "wb") as f:
            pickle.dump(q2idx, f)
        with open(os.path.join(self.dataset_dir, "u2idx.pkl"), "wb") as f:
            pickle.dump(u2idx, f)

        return q_seqs, r_seqs, q_list, u_list, q2idx, u2idx

ModuleNotFoundError: No module named 'torch'

# Tensorflow code

In [ ]:
def preprocess(dataset_dir,dataset_path):
        df = pd.read_csv(dataset_path,encoding = "ISO-8859-15",low_memory=False).dropna(subset=["skill_name"])\
            .drop_duplicates(subset=["order_id", "skill_name"])\
            .sort_values(by=["order_id"])

        u_list = np.unique(df["user_id"].values)
        q_list = np.unique(df["skill_name"].values)

        u2idx = {u: idx for idx, u in enumerate(u_list)}
        q2idx = {q: idx for idx, q in enumerate(q_list)}

        q_seqs = []
        r_seqs = []

        for u in u_list:
            df_u = df[df["user_id"] == u]

            q_seq = np.array([q2idx[q] for q in df_u["skill_name"]])
            r_seq = df_u["correct"].values

            q_seqs.append(q_seq)
            r_seqs.append(r_seq)

        with open(os.path.join(dataset_dir, "q_seqs.pkl"), "wb") as f:
            pickle.dump(q_seqs, f)
        with open(os.path.join(dataset_dir, "r_seqs.pkl"), "wb") as f:
            pickle.dump(r_seqs, f)
        with open(os.path.join(dataset_dir, "q_list.pkl"), "wb") as f:
            pickle.dump(q_list, f)
        with open(os.path.join(dataset_dir, "u_list.pkl"), "wb") as f:
            pickle.dump(u_list, f)
        with open(os.path.join(dataset_dir, "q2idx.pkl"), "wb") as f:
            pickle.dump(q2idx, f)
        with open(os.path.join(dataset_dir, "u2idx.pkl"), "wb") as f:
            pickle.dump(u2idx, f)

        return q_seqs, r_seqs, q_list, u_list, q2idx, u2idx

In [ ]:
class MyDataset:
    def __init__(self, dataset_dir, dataset_path, preprocess_function, seq_len=None):
        self.q_seqs, self.r_seqs, self.q_list, self.u_list, self.q2idx, self.u2idx = \
            preprocess_function(dataset_dir, dataset_path)

        self.num_u = len(self.u_list)
        self.num_q = len(self.q_list)

        if seq_len:
            self.q_seqs, self.r_seqs = match_seq_len_tf(self.q_seqs, self.r_seqs, seq_len)

        self.tf_dataset = tf.data.Dataset.from_tensor_slices((self.q_seqs, self.r_seqs))

    def get_dataset(self):
        return self.tf_dataset

    def get_num_users(self):
        return self.num_u

    def get_num_questions(self):
        return self.num_q

In [ ]:
dataset_dir = '/home/jun/workspace/KT/data/2009'
dataset_path =  os.path.join(
            dataset_dir, "skill_builder_data_corrected.csv"
        )
dataset = MyDataset(dataset_dir,dataset_path,preprocess)

### 일단 데이터셋 만드는것은 이정도로 이해하고, 위의 상태에서 멈춘다.   
### 그 이유는 만들어진 데이터의 길이가 달라서 텐서형테로 만들어지지 않기 때문에 패딩을 해야하는데 현제 XL을 사용하고자 할때 위의 데이터들이 어떻게 사용될지를 생각해보고 다음 단계를 진행하자!

In [ ]:
import tensorflow as tf

num_q = 10  # Number of unique questions
d = 4       # Dimension of embedding vectors

# Create an embedding layer
M = tf.keras.layers.Embedding(num_q * 2, d) # 첫번째 인자인 num_q * 2 는 임베딩 레이어가 변화시킬 총 정수 또는 고유한 값들의 범위임  예를들어 200이면 0~200 까지의 숫자 안에서만 벡터로 변환시킨다는 거지!

In [ ]:
input_data = tf.constant([[3, 6, 9], [1, 4, 7]])

# Passing the input through the embedding layer
output_data = M(input_data)

In [ ]:
output_data

<tf.Tensor: shape=(2, 3, 4), dtype=float32, numpy=
array([[[ 0.0084943 , -0.00900818, -0.00789661,  0.0091119 ],
        [-0.0036244 ,  0.00312948,  0.01680109,  0.04524017],
        [-0.02014213, -0.00176462,  0.01597678, -0.0419509 ]],

       [[ 0.01169356,  0.0162746 , -0.04580444, -0.00587199],
        [ 0.03741831, -0.00815434, -0.01230226, -0.01649004],
        [ 0.04460502, -0.03337461,  0.01497657, -0.03780974]]],
      dtype=float32)>